<h2 class="text-center">Profile</h2>
<style>
    .hr {
        height: 5px;
        background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
        position: relative;
        top: 17px;
        width: 300px;
    }

    #doctorImage {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        padding: 3px;
        border: 3px solid #d2d6de;
        border-radius: 50%;
        display: block;
        max-width: 100%;
        vertical-align: middle;
        box-sizing: border-box;
    }
</style>

<MudGrid>
    <MudItem xs="2">
    </MudItem>
    <MudItem xs="4">
        <hr class="hr" />
        <MudPaper Width="300px" Square="true">
            <div></div>
            <img src="@this.Doctor.ProfileImageUrl" alt="profileImage" id="doctorImage" />
            <p class="text-center" style="font-size: 20px;">@(this.Doctor.FirstName + ' ' + this.Doctor.LastName)</p>
            <p class="text-center text-black-50" style="font-size: 14px;">@this.Doctor.Department</p>
        </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <hr class="hr" />
        <MudPaper Width="300px" Square="true">
            <MudList Clickable="true">
                <MudListItem>
                    <p style="font-size: 20px;">About Doctor</p>
                </MudListItem>
                <MudDivider />
                <MudListItem>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                    </svg>
                    <strong>Profile</strong>
                    <p class="text-black-50">@this.Doctor.Email</p>
                </MudListItem>
                <MudDivider />
                <MudListItem>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                    </svg>
                    <strong>Other Informations</strong>
                    <p class="text-black-50">@this.Doctor.OtherInfo</p>
                </MudListItem>
                <MudDivider />
            </MudList>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    public DoctorByIdViewModel Doctor { get; set; }
}